* {
    box-sizing: border-box;   
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

html{
	scroll-behavior: smooth;
}

body {
    background-color: #111827;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    padding: 16px 24px;
    background-color: #111827;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo a {
    text-decoration: none;
}

.links ul li a:hover {
    background: linear-gradient(to right, #22d3ee, #a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s ease-out;
}

.logo h3 {
    font-size: 34px;
    font-weight: 900;
    background: linear-gradient(to right, #22d3ee, #a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links ul {
    display: flex;
    gap: 20px;
    font-size: 16px;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 80px 30px 80px;
    max-width: 670px;
}

header > * {
    opacity: 0;
    transform: translateY(25px);
    animation: fadeItem 0.8s ease-out forwards;
}

header > *:nth-child(1) { animation-delay: .2s; }
header > *:nth-child(2) { animation-delay: .35s; }
header > *:nth-child(3) { animation-delay: .5s; }
header > *:nth-child(4) { animation-delay: .65s; }
header > *:nth-child(5) { animation-delay: .8s; }
header > *:nth-child(6) { animation-delay: .95s; }
header > *:nth-child(7) { animation-delay: 1s; }

@keyframes fadeItem {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.available {
    padding: 10px 16px;
    border: 1px groove #06b6d44d;
    font-size: 14px;
    border-radius: 9999px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    color: #22d3ee;
    background-color: #06b6d41a;
}

header h1 {
    font-size: 60px;
    font-weight: 900;
    color: white;
}
header h1 span {
    background: linear-gradient(to right, #22d3ee, #a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h3 {
    margin: 0 0 16px;
    font-size: 36px;
    color: #d1d5db;
}

header p {
    font-size: 18px;
    margin: 0 0 48px;
    color: #d1d5db;
}

.socials {
    margin: 0 0 48px;
    display: flex;
    gap: 20px;
}

.socials a {
    font-size: 24px;
    padding: 14px 16px;
    border: 1px groove #1f2937;
    border-radius: 8px;
    color: white;
    background-color: #1f2937;
    cursor: pointer;
}

.socials a:hover {
    border: 1px groove #22d3ee;
}

.my-work{
    text-decoration: none;
    color: white;
    font-weight: 900;
    padding: 16px 32px;
    background: linear-gradient(to right, #22d3ee, #a855f7);
    border-radius: 8px;
}

/*---------------------About section---------------------*/

.about {
    background-color: black;
    padding: 80px 5%;
}

.about .about-container,
.about .about-details {
    opacity: 0;
    transform: translateY(20px);
}

.about.show .about-container {
    opacity: 1;
    transform: translateY(0);
    transition: .6s ease-out;
}

.about.show .about-para p,h1,ul,li {
    opacity: 1;
    transform: translateX(0);
    animation: slideLeft .8s ease-out forwards;
}


.about.show .about-details {
    opacity: 1;
    transform: translateX(0);
    animation: slideRight .8s ease-out forwards;
}


@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.opening-tag {
    color: #22d3ee;
    padding: 0 0 16px;
}

.closing-tag {
    color: #22d3ee;
    padding: 16px 0 0;
}

.about h1 {
    font-size: 48px;
    color: white;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.about-para {
    color: #d1d5db;
    line-height: 30px;
    font-size: 18px;
}

.about-para h1 {
    margin-bottom: 20px;
}

.cert {
    margin-top: 15px;
}

.about-para ul li {
    font-size: 16px;
}

.about-para ul li a {
    color: #d1d5db;
}

.bottom-para {
    margin-bottom: 30px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-details {
    display: flex;
    padding: 24px;
    gap: 20px;
    align-items: start;
    background-color: #111827;
    border: 1px solid #1f2937;
    border-radius: 8px;
    cursor: pointer;
}

.about-details:hover {
    border: 1px groove #22d3ee;
}

.about-details i {
    font-size: 18px;
    padding: 14px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.about-details .blue-icon {
    color: #22d3ee;
    border: 1px groove #06b6d44d;
    background-color: #06b6d41a;
}

.about-details .pink-icon {
    color: #c084fc;
    border: 1px groove #a855f74d;
    background-color: #a855f71a;
}

.about-more {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-more h4 {
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.about-more p {
    color: #9ca3af;
}

.skills {
    padding: 80px 5%;
}

.skills .stack-container,
.skills .stack {
    opacity: 0;
    transform: translateY(25px);
}

/* Fade in entire container */
.skills.show .stack-container {
    opacity: 1;
    transform: translateY(0);
    transition: .6s ease-out;
}

/* Each stack appears with stagger */
.skills.show .stack {
    opacity: 1;
    transform: translateY(0);
    animation: skillUp .7s ease-out forwards;
}


@keyframes skillUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.skills h1 {
    font-size: 48px;
    margin-bottom: 64px;
    color: white;
}

.stack-container {
    display: flex;
    gap: 20px;
    padding: 24px;
   flex-wrap: wrap;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.stack img {
    width: 80px;
    height: 80px;
}

.stack p {
    color: white;
    font-weight: 600;
}

.projects {
    padding: 80px 5%;
    background-color: black;
}

.projects .project-container,
.projects .project-card {
    opacity: 0;
    transform: scale(0.95);
}


/* Fade container itself */
.projects.show .project-container {
    opacity: 1;
    transform: scale(1);
    transition: .7s ease-out;
}

/* Cards fade in + scale */
.projects.show .project-card {
    opacity: 1;
    transform: scale(1);
    animation: projectFade .7s ease-out forwards;
}


@keyframes projectFade {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}



.projects h1 {
    font-size: 64px;
    color: white;
    margin-bottom: 64px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.project-card {
    border: 1px solid #1f2937;
    background-color: #111827;
    border-radius: 8px;
}

.project-card:hover {
    border: 1px groove #22d3ee;
}

.project-card h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 12px;
}

.project-img img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-details {
    padding: 24px;
}

.project-details p {
    color: #9ca3af;
    margin-bottom: 16px;
}

.tools {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.tools p {
    padding: 4px 12px;
    border: 1px groove #06b6d44d;
    border-radius: 9999px;
    color: #22d3ee;
    background-color: #06b6d41a;
    font-size: 14px;
    font-weight: 600;
}

.code-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

.code-link a {
    text-decoration: none;
    color: #9ca3af;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.code-link a i {
    font-size: 24px;
}

.code-link .link-color {
    color: #22d3ee;
}

.contact {
    padding: 80px 24px;
    background-color: #111827;
    margin: 0 auto;
    max-width: 890px;
}

/* Hide both sides initially */
.contact .contact-list {
    opacity: 0;
    transform: translateX(-40px);
}

.contact .form-container {
    opacity: 0;
    transform: translateX(40px);
}

.contact.show .contact-list {
    animation: fadeLeft .7s ease-out forwards;
}

.contact.show .form-container {
    animation: fadeRight .7s ease-out forwards;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.contact h1 {
    font-size: 64px;
    color: white;
    margin-bottom: 64px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-list h3 {
    color: white;
    font-size: 30px;
}

.contact-list span {
    color: #9ca3af;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}

.contact-details {
    display: flex;
    padding: 16px;
    gap: 20px;
    align-items: start;
    background-color: #030712;
    border-radius: 8px;
    border: 1px solid #1f2937;
    cursor: pointer;
}

.contact-details i {
    font-size: 18px;
    padding: 14px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.contact-details:hover {
    border: 1px groove #22d3ee;
}

.contact-details .blue-icon {
    color: #22d3ee;
    border: 1px groove #06b6d44d;
    background-color: #06b6d41a;
}

.contact-details .pink-icon {
    color: #c084fc;
    border: 1px groove #a855f74d;
    background-color: #a855f71a;
}

.contact-more {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-more h4 {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.contact-more p {
    color: #9ca3af;
}

.form-container {
    margin: 0 0 64px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    color: white;
    font-weight: 600;
}

form input {
    background-color: #030712;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    border: 1px solid #1f2937;
    color: white;
}

form textarea {
    background-color: #030712;
    color: white;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
}

form button {
    padding: 16px 0;
    margin: 24px 0 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, #22d3ee, #a855f7);
    cursor: pointer;
    border: none;
}

#successAlert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 15px 18px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s ease;
    z-index: 9999;
}

#successAlert.show {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 32px 24px;
    background-color: black;
}

.footer-para {
    font-size: 16px;
    color: #9ca3af;
}

@media only screen and (max-width: 940px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 750px) {
    .about-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 500px) {
    header {
        padding: 70px 30px 40px;
    }
    header h3 {
        margin: 0 0 8px;
        font-size: 28px;
    }

    header p {
        font-size: 16px;
        margin: 0 0 20px;
    }

    .socials {
        margin: 0 0 20px;
    }

    .about,
    .skills,
    .projects,
    .contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .about h1 {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .about-para {
        line-height: 25px;
        font-size: 15px;
    }

    .about-para ul li {
        font-size: 15px;
    }

    .about-details i {
        font-size: 16px;
    }

    .about-more h4 {
        font-size: 16px;
    }

    .about-more p {
       font-size: 14px;
    }

    .skills h1 {
        font-size: 38px;
        margin-bottom: 34px;
    }

    .stack-container {
       justify-content: center;
    }

    .stack img {
        width: 60px;
        height: 60px;
    }

    .stack p {
        color: white;
        font-size: 15px;
        font-weight: 600;
    }

    .projects h1 {
        font-size: 38px;
        margin-bottom: 34px;
    }

    .project-card h3 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .project-details p {
        font-size: 15px;
        margin-bottom: 14px;
    }

    .tools p {
        padding: 4px 10px;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .code-link a {
        font-size: 14px;
    }

    .code-link a i {
        font-size: 20px;
    }

    .contact h1 {
        font-size: 38px;
        margin-bottom: 25px;
    }

    .contact-list h3 {
        font-size: 20px;
    }

    .contact-list span {
        font-size: 16px;
    }

    .contact-details i {
        font-size: 15px;
    }

    .contact-more h4 {
        font-size: 15px;
    }

    .form-container {
        margin: 0 10px 24px;
    }

}


